    <div id="introbody">
       <div class="container">
            <p align="center" id="cap">
            <span style="line-height:200%;font-family:宋体;font-size:20pt;">
            公司简介
            </span>
            </p>

            <p style="text-indent:24pt;">
            <span style="line-height:150%;font-family:宋体;font-size:12pt;">
            沈阳傲堔门业有限公司位于辽宁沈抚新城国家级高新技术开发区。公司占地面积20亩，自有厂房面积5000M2。由两家已经运营近15年的门业企业合并而成。是一家集研发、生产、销售、安装服务于一体的现代化企业。公司董事长魏文山博士，多年从事航空动力传动的设计与研究，曾先后获得多项部级科技进步二三等奖项，2000年进入门业行业，最早将多段提升门的大型门技术引入国内，并成功研发工业和和民用开门机，同时参与了亚洲最大的飞机库大门-北京A380飞机库等众多超大型和特种门项目的总体设计工作，取得圆满成功。
            </span>
            </p>

            <p style="text-indent:24pt;">
            <span style="line-height:150%;font-family:宋体;font-size:12pt;">
            公司现有包括博士硕士在内的设计团队，半数以上具有高级和中级技术职称。产品范围包括各类工业厂房门、飞机库门、多段提升门、推拉门、滑升门、上折门、侧转门、柔性升降大门、平开门、快速卷门、车库门、开门机和大型门驱动控制系统、工业特种防辐射门、防弹门、隔音门以及各类工业器具夹具装备。应用范围覆盖工业、商业、民用领域，特别是在航空、电力、船舶、矿山、汽车制造和房地产等行业得到了广泛的应用。
            </span>
            </p>

            <p style="text-indent:24pt;">
            <span style="line-height:150%;font-family:宋体;font-size:12pt;">
            傲堔门业致力于为客户提供最佳应用效果与经济性兼备的解决方案，更高质量的产品和更加优良的服务与信誉是我们永恒的目标。愿我们的努力能使千万个用户的工作生活更加轻松、方便、美好。
            </span>
            </p>
        </div>
    </div>




