    <!--mainbody-->
    <div id="mainbody">
        <div class="mainleft">
            <div class="wrapper">
                <nav id="sidebar">
                    <!-- Sidebar Header -->
                    <div class="sidebar-header">
                        <h3>产品分类</h3>
                    </div>
                    <!-- Sidebar Links -->
                    <ul class="list-unstyled components">
                        <li><a href="#">侧转门</a></li>
                        <li><a href="#">堆积门</a></li>
                        <li><a href="#">多段提升门</a></li>
                        <li><a href="#">飞机库门</a></li>
                        <li><a href="#">辐射防护</a></li>
                        <li><a href="#">环保门</a></li>
                        <li><a href="#">军用门窗</a></li>
                        <li><a href="#">平开门</a></li>
                        <li><a href="#">软质门</a></li>
                        <li><a href="#">上折门</a></li>
                        <li><a href="#">提升门</a></li>
                        <li><a href="#">悬浮门</a></li>
                        <li><a href="#">硬质快速门</a></li>
                        <li><a href="#">折叠门</a></li>
                    </ul>
                </nav>
            </div>
               
<!--
                <div class="til">
                    <b>联系我们</b>
                </div>
                <div class="leco">
                    公司名称：沈阳奥堔门业有限公司<br/> 电话：024-56204301
                    <br/> 邮编：113122
                    <br/> 地址：辽宁省沈阳辽宁省沈抚新区太平洋工业城15号
                </div>
-->
        </div>
    </div>

