{% include 'header.html' %}        
        
        <div class="site has-subnav">

            <!--googleoff: all-->
            <nav class="secondary-navigation">
                <ul>
                    <li class="first-item"><a class="" href="p1">多段提升门</a></li>
                    <li class=""><a class="" href="p2">侧转门</a></li>
                    <li class=""><a class="" href="p3">飞机库门</a></li>
                    <li class=""><a class="" href="p4">环保门</a></li>
                    <li class=""><a class="" href="p5">军用门窗</a></li>
                    <li class=""><a class="" href="p6">平开门</a></li>
                    <li class=""><a class="" href="p7">硬质快速门</a></li>
                    <li class=""><a class="" href="p8">堆积门</a></li>
                    <li class=""><a class="" href="p9">辐射防护</a></li>
                    <li class=""><a class="selected" href="p10">软质门</a></li>
                    <li class=""><a class="" href="p11">上折门</a></li>
                    <li class=""><a class="" href="p12">提升门</a></li>
                    <li class=""><a class="" href="p13">悬浮门</a></li>
                    <li class="last-item"><a class="" href="p14">折叠门</a></li>
                </ul>
            </nav>
            <!--googleon: all-->

            <main role="main" class="main" id="content">

                <article class="main-article">

<!--
                    <h1>软质门</h1>
-->
                    <!--slideshow-->
                    <div>

                        <div id="product-slideshow" class="product-slideshow multiple-images">
                            <figure class="current-image">
                                <div>
                                    <img src="../static/image/ruanzhi1.jpg" id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_productImageRegion_ctrlProductImages_ctrlMainImage" alt="Multiple-leaf aviation hangar door" />
                                </div>
                                <figcaption>软质门</figcaption>
                            </figure>

<!--
                            <div class="slides">
                                <figure>
                                    <a href="/presets/product-slideshow/AAES/PRODUCTS_2.1/PRODUCT-IMAGES/Hangar-doors/Aviation-hangar-doors/Multiple-leaf-aviation-hangar-door-systems/Multiple-leaf-aviation-hangar-doors-1.jpg">
                                    <img src="../static/image/lm1.jpg" alt="Multiple-leaf aviation hangar door" /></a>
                                </figure>
                            </div>
-->
                        </div>

                    </div>

                    <div class="portlet-content__container">

                    </div>

                    <div>

                        <div class="portlet-content__container">

                        </div>

                    </div>

                    <div class="product-presentation">
                        <h2>软质门</h2>
                        <p>
                        产品描述：高速
                        </p>
                        <p>
                        开启方式： 卷闸，堆积
                        </p>
                        <p>
                        类别：整套门
                        </p>
                        <p>
                        使用范围：厂房，物流，商业，其他
                        </p>
                        <p>
                        门框最大尺寸：7000mmᵡ6000mm
                        </p>
                        <p>
                        快速卷帘门的帘布由密度为700-1700g/m2的耐用PVC聚氨酯纤维构成，可内嵌透明帘布构成的视窗。此快速门的独特设计使得在最大限度的减少热损失的前提下，还可提供高效的物流出入口。快速门帘布部分不带任何的坚固部件，保证设备和人员的安全。
                        </p>
                        <p>
                        产品特点：带有自我修复功能。门帘帘布坚固耐用。高速驱动装置上装有微处理器和变频器，可以使门软启动后快速启动，最后缓慢停止。门关闭时平缓，无噪。可手动开启。
                        </p>
                        <p>
                        技术参数：
                        </p>
                        <p>
                        门布材质：PVC
                        </p>
                        <p>
                        视窗材质：PVC
                        </p>
                        <p>
                        密封：毛刷
                        </p>
                        <p>
                        最大门体尺寸：W7000mm,H6000mm
                        </p>
                        <p>
                        最大抗风度：100km/h
                        </p>
                        <p>
                        最大开启速度：2.5m/s
                        </p>
                        <p>
                        防火等级：B1
                        </p>
                        <p>
                        开启最大频率：10万次/年
                        </p>
                        <p>
                        门开启方式：垂直开启（地磁，雷达，光电，按钮，刷卡）
                        </p>
                        <p>
                        驱动方式：变频电机高速驱动
                        </p>
                        <p>
                        工作温度范围：-35℃—70℃
                        </p>
                        <p>
                        防护等级：IP55
                        </p>
                        <p>
                        电源：220V/50Hz单相；380V/50Hz三相
                        </p>
                    </div>
                    
                    <!--this is the video container-->
                    <!--
                    <div>
                        <div class="x-portlet-zone x-number-of-areas-1 x-portlet-zone-horizontal portlet-content sub-content" id="topcontentportlets">
                            <div id="topcontentportlets_0" class="x-portlet-area first-portlet-area last-portlet-area">
                                <div class="embedded-video-portlet embedded-video-portlet--youtube embedded-video-portlet--no-bottom first-portlet last-portlet x-portlet">
                                    <div id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_applicationRegion_ctrlProductInfo_topcontentportlets_ctl02_topcontentportlets_0_ctl01_ctl01_ctrlVideoContainer" class="embedded-video-portlet__container">
                                        <iframe type="text/html" src="//www.youtube-nocookie.com/embed/VrekbUU4JPo?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="true"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-content__container">
                        </div>
                    </div>
                    -->


                </article>

            </main>

        </div> <!--end of has subnav-->



<!--
        <link rel="stylesheet" href="../static/assacss.css" />
-->
        <script src="../static/js/assajs1.js" type="text/javascript"></script>
		<script src="../static/js/assajs2.js" type="text/javascript"></script>
		<script src="../static/js/assajs3.js" data-main="https://www.assaabloyentrance.us/web/core/ui/636826416564363264/scripts/" type="text/javascript"></script>

{% include 'footer.html' %}
