{% include 'header.html' %}        
        
        <div class="site has-subnav">

            {% include 'secondNav.html' %}        
            <!--googleon: all-->

            <main role="main" class="main" id="content">
                <article class="main-article">
                    <!--slideshow-->
                    <div id="product-slideshow" class="product-slideshow multiple-images has-arrows">
                    	<div class="slideshow">
                                <div>
                                    <img src="../static/image/productImage/shangzhe/big/shangzhe1.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/shangzhe/big/shangzhe2.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/shangzhe/big/shangzhe3.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/shangzhe/big/shangzhe4.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/shangzhe/big/shangzhe5.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/shangzhe/big/shangzhe6.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/shangzhe/big/shangzhe7.jpg">
                                </div>
                        </div> 

                        <div class="figcapdiv">
                        <figcaption>上折门</figcaption>
                        </div>
                        
                        <div class="slides fixslider">
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/shangzhe/small/shangzhe1.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/shangzhe/small/shangzhe2.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/shangzhe/small/shangzhe3.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/shangzhe/small/shangzhe4.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/shangzhe/small/shangzhe5.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/shangzhe/small/shangzhe6.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/shangzhe/small/shangzhe7.jpg">
                        			</figure>
                        </div>

                        <script type="text/javascript">
                            jQuery(document).ready(function() {
                                jQuery('.slideshow').slick({
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                    arrows: false,
                                    fade: true,
                                    asNavFor: '.slides'
                                });
                                jQuery('.slides').slick({
                                    slidesToShow: 4,
                                    slidesToScroll: 1,
                                    asNavFor: '.slideshow',
                                    dots: false,
                                    arrows: true,
                                    focusOnSelect: true,
                                    autoplay: true,
                                    autoplaySpeed: 6000,
                                    speed: 500,
                                    nextArrow: '<div class="slick-next"><i class="genericon genericon-rotate-90 genericon-collapse"></i></div>',
                                    prevArrow: '<div class="slick-prev"><i class="genericon genericon-rotate-90 genericon-expand"></i></div>',
                                    responsive: [
                                      {
                                        breakpoint: 1024,
                                        settings: {
                                          slidesToShow: 3,
                                          slidesToScroll: 3,
                                          infinite: true,
                                        }
                                      },
                                      {
                                        breakpoint: 600,
                                        settings: {
                                          slidesToShow: 2,
                                          slidesToScroll: 2,
                                          arrows: false
                                        }
                                      }
                                      // You can unslick at a given breakpoint now by adding:
                                      // settings: "unslick"
                                      // instead of a settings object
                                    ]
                                });
                            });
                        </script>
                    </div> <!--product-slideshow-->

                    <div>
                        <div class="portlet-content__container">

                        </div>
                    </div>

                    <div class="product-presentation">
                        <h2>上折门</h2>
                        <p>
                        产品描述：空间小
                        </p>
                        <p>
                        开启方式： 垂直
                        </p>
                        <p>
                        类别：分体门
                        </p>
                        <p>
                        使用范围：厂房，商业，其他
                        </p>
                        <p>
                        门框最大尺寸：10000mmᵡ8000mm
                        </p>
                        <p>
                        上折门适用于大跨度门口，尤其适用于门口两侧及上方空间不足的建筑物。提升方式为上下两块通过提升机构将门扇向外侧折起。外装饰面可与建筑墙面保持高度一致，美观和谐。
                        </p>
                        <p>
                        产品特点：对建筑空间要求小。提升方式合理，故障率低。强度大，可根据用户地区风压做荷载计算。红外线与气动感应边保证了安全性。（选配）外装饰面可与建筑墙面保持高度一致，美观和谐。
                        </p>
                        <p>
                        技术参数：
                        </p>
                        <p>
                        门板材质：Q235型钢
                        </p>
                        <p>
                        门板材质：建筑外墙
                        </p>
                        <p>
                        视窗材质：阳光板
                        </p>
                        <p>
                        密封：三元乙丙、毛刷
                        </p>
                        <p>
                        最大门体尺寸：W10000mm,H8000mm
                        </p>
                        <p>
                        最大抗风度：110km/h
                        </p>
                        <p>
                        最大开启速度：0.1-0.15m/s
                        </p>
                        <p>
                        防火等级：B1
                        </p>
                        <p>
                        配重物：弹簧
                        </p>
                        <p>
                        开启最大频率：5万次/年
                        </p>
                        <p>
                        门开启方式：垂直开启（手动，按钮，遥控）
                        </p>
                        <p>
                        驱动方式：电机驱动
                        </p>
                        <p>
                        工作温度范围：-50℃—70℃
                        </p>
                        <p>
                        防护等级：IP55
                        </p>
                        <p>
                        电源：380V/50Hz三相
                        </p>
                    </div>
                    
                    <!--this is the video container-->
                    <!--
                    <div>
                        <div class="x-portlet-zone x-number-of-areas-1 x-portlet-zone-horizontal portlet-content sub-content" id="topcontentportlets">
                            <div id="topcontentportlets_0" class="x-portlet-area first-portlet-area last-portlet-area">
                                <div class="embedded-video-portlet embedded-video-portlet--youtube embedded-video-portlet--no-bottom first-portlet last-portlet x-portlet">
                                    <div id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_applicationRegion_ctrlProductInfo_topcontentportlets_ctl02_topcontentportlets_0_ctl01_ctl01_ctrlVideoContainer" class="embedded-video-portlet__container">
                                        <iframe type="text/html" src="//www.youtube-nocookie.com/embed/VrekbUU4JPo?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="true"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-content__container">
                        </div>
                    </div>
                    -->


                </article>

            </main>

        </div> <!--end of has subnav-->

{% include 'footer.html' %}
