{% include 'header.html' %}        
        
        <div class="site has-subnav">

            <!--googleoff: all-->
            <nav class="secondary-navigation">
                <ul>
                    <li class="first-item"><a class="" href="p1">多段提升门</a></li>
                    <li class=""><a class="" href="p2">侧转门</a></li>
                    <li class=""><a class="" href="p3">飞机库门</a></li>
                    <li class=""><a class="" href="p4">环保门</a></li>
                    <li class=""><a class="" href="p5">军用门窗</a></li>
                    <li class=""><a class="" href="p6">平开门</a></li>
                    <li class=""><a class="" href="p7">硬质快速门</a></li>
                    <li class=""><a class="" href="p8">堆积门</a></li>
                    <li class=""><a class="" href="p9">辐射防护</a></li>
                    <li class=""><a class="" href="p10">软质门</a></li>
                    <li class=""><a class="" href="p11">上折门</a></li>
                    <li class=""><a class="" href="p12">提升门</a></li>
                    <li class=""><a class="selected" href="p13">悬浮门</a></li>
                    <li class="last-item"><a class="" href="p14">折叠门</a></li>
                </ul>
            </nav>
            <!--googleon: all-->

            <main role="main" class="main" id="content">

                <article class="main-article">

<!--
                    <h1>悬浮门</h1>
-->
                    <!--slideshow-->
                    <div>

                        <div id="product-slideshow" class="product-slideshow multiple-images">
                            <figure class="current-image">
                                <div>
                                    <img src="../static/image/xuanfu1.jpg" id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_productImageRegion_ctrlProductImages_ctrlMainImage" alt="Multiple-leaf aviation hangar door" />
                                </div>
                                <figcaption>悬浮门</figcaption>
                            </figure>

<!--
                            <div class="slides">
                                <figure>
                                    <a href="/presets/product-slideshow/AAES/PRODUCTS_2.1/PRODUCT-IMAGES/Hangar-doors/Aviation-hangar-doors/Multiple-leaf-aviation-hangar-door-systems/Multiple-leaf-aviation-hangar-doors-1.jpg">
                                    <img src="../static/image/lm1.jpg" alt="Multiple-leaf aviation hangar door" /></a>
                                </figure>
                            </div>
-->
                        </div>

                    </div>

                    <div class="portlet-content__container">

                    </div>

                    <div>

                        <div class="portlet-content__container">

                        </div>

                    </div>

                    <div class="product-presentation">
                        <h2>悬浮门</h2>
                        <p>
                        产品描述：高强度，传动合理
                        </p>
                        <p>
                        开启方式： 平行
                        </p>
                        <p>
                        类别：分体门
                        </p>
                        <p>
                        使用范围：事业单位，学校，会展，商业，地产等
                        </p>
                        <p>
                        门框最大尺寸：18000mmᵡ2000mm
                        </p>
                        <p>
                        无轮无轨，端部无支点，无轮接触地面，无运行轨道，无需预埋导轨，无支点悬空运行的专利，门体悬空运行距离超过18米。
                        </p>
                        <p>
                        产品特点：
                        </p>
                        <p>
                        　　1、高强度航空铝合金制作主梁，结构坚固：氟碳静电喷涂处理，色彩丰富，更多选择。
                        </p>
                        <p>
                        　　2、无轨无轮，悬空行走：运行平稳，低噪音。
                        </p>
                        <p>
                        　　3、多功能智能控制系统，可选择齿轮齿条外置电机驱动或导轨内置式电机驱动方式（运行更安静、平稳）。
                        </p>
                        <p>
                        　　4、冰天雪地，无阻无扰，特别适合冬季极寒地区运行。
                        </p>
                        <p>
                        　　5、多种安全防护：双红外线防夹人保护，门头防撞、防夹保护带、标配防爬自动报警系统。
                        </p>
                        <p>
                        　　6、无轨悬浮门运行警灯提示，安全警告标志，配有紧急停止装置。
                        </p>
                        <p>
                        　　7、无轨悬浮门停电可打开离合器，人工推行。
                        </p>
                        <p>
                        　　8、无轨悬浮门款式多样，可选全螺栓现场组装形式，安装更方便、简单。
                        </p>
                        <p>
                        　　9、无轨悬浮门提供整套镀锌或氧化铝散件，客户可现场拼装后喷涂，成本更低，多种导轨配件可供选择。
                        </p>
                        <p>
                        技术参数：
                        </p>
                        <p>
                        门板材质：Q235钢，铝合金型材
                        </p>
                        <p>
                        最大门体尺寸：W18000mm,H2000mm
                        </p>
                        <p>
                        最大抗风度：120km/h
                        </p>
                        <p>
                        </p>
                        <p>
                        最大开启速度：0.1-0.25m/s
                        </p>
                        <p>
                        防火等级：A1
                        </p>
                        <p>
                        配重物：配重块
                        </p>
                        <p>
                        开启最大频率：5万次/年
                        </p>
                        <p>
                        门开启方式：平行开启（手动，按钮，遥控）
                        </p>
                        <p>
                        驱动方式：电机驱动
                        </p>
                        <p>
                        工作温度范围：-50℃—70℃
                        </p>
                        <p>
                        防护等级：IP55
                        </p>
                        <p>
                        电源：380V/50Hz三相
                        </p>
                    </div>
                    
                    <!--this is the video container-->
                    <!--
                    <div>
                        <div class="x-portlet-zone x-number-of-areas-1 x-portlet-zone-horizontal portlet-content sub-content" id="topcontentportlets">
                            <div id="topcontentportlets_0" class="x-portlet-area first-portlet-area last-portlet-area">
                                <div class="embedded-video-portlet embedded-video-portlet--youtube embedded-video-portlet--no-bottom first-portlet last-portlet x-portlet">
                                    <div id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_applicationRegion_ctrlProductInfo_topcontentportlets_ctl02_topcontentportlets_0_ctl01_ctl01_ctrlVideoContainer" class="embedded-video-portlet__container">
                                        <iframe type="text/html" src="//www.youtube-nocookie.com/embed/VrekbUU4JPo?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="true"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-content__container">
                        </div>
                    </div>
                    -->


                </article>

            </main>

        </div> <!--end of has subnav-->



<!--
        <link rel="stylesheet" href="../static/assacss.css" />
-->
        <script src="../static/js/assajs1.js" type="text/javascript"></script>
		<script src="../static/js/assajs2.js" type="text/javascript"></script>
		<script src="../static/js/assajs3.js" data-main="https://www.assaabloyentrance.us/web/core/ui/636826416564363264/scripts/" type="text/javascript"></script>

{% include 'footer.html' %}
