{% include 'header.html' %}        
        
        <div class="site has-subnav">

            {% include 'secondNav.html' %}        
            <!--googleon: all-->

            <main role="main" class="main" id="content">
                <article class="main-article">
                    <!--slideshow-->
                    <div id="product-slideshow" class="product-slideshow multiple-images has-arrows">
                    	<div class="slideshow">
                                <div>
                                    <img src="../static/image/productImage/cezhuan/big/cezhuan1.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/cezhuan/big/cezhuan2.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/cezhuan/big/cezhuan3.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/cezhuan/big/cezhuan4.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/cezhuan/big/cezhuan5.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/cezhuan/big/cezhuan6.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/cezhuan/big/cezhuan7.jpg">
                                </div>
                        </div> 

                        <div class="figcapdiv">
                        <figcaption>侧转门</figcaption>
                        </div>
                        
                        <div class="slides fixslider">
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/cezhuan/small/cezhuan1.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/cezhuan/small/cezhuan2.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/cezhuan/small/cezhuan3.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/cezhuan/small/cezhuan4.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/cezhuan/small/cezhuan5.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/cezhuan/small/cezhuan6.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/cezhuan/small/cezhuan7.jpg">
                        			</figure>
                        </div>

                        <script type="text/javascript">
                            jQuery(document).ready(function() {
                                jQuery('.slideshow').slick({
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                    arrows: false,
                                    fade: true,
                                    asNavFor: '.slides'
                                });
                                jQuery('.slides').slick({
                                    slidesToShow: 4,
                                    slidesToScroll: 1,
                                    asNavFor: '.slideshow',
                                    dots: false,
                                    arrows: true,
                                    focusOnSelect: true,
                                    autoplay: true,
                                    autoplaySpeed: 6000,
                                    speed: 500,
                                    nextArrow: '<div class="slick-next"><i class="genericon genericon-rotate-90 genericon-collapse"></i></div>',
                                    prevArrow: '<div class="slick-prev"><i class="genericon genericon-rotate-90 genericon-expand"></i></div>',
                                    responsive: [
                                      {
                                        breakpoint: 1024,
                                        settings: {
                                          slidesToShow: 3,
                                          slidesToScroll: 3,
                                          infinite: true,
                                        }
                                      },
                                      {
                                        breakpoint: 600,
                                        settings: {
                                          slidesToShow: 2,
                                          slidesToScroll: 2,
                                          arrows: false
                                        }
                                      }
                                      // You can unslick at a given breakpoint now by adding:
                                      // settings: "unslick"
                                      // instead of a settings object
                                    ]
                                });
                            });
                        </script>
                    </div> <!--product-slideshow-->

                    <div>
                        <div class="portlet-content__container">

                        </div>
                    </div>

                    <div class="product-presentation">
                        <h2>侧转门</h2>
                        <p>
                        产品描述：空间小
                        </p>
                        <p>
                        开启方式： 水平内向
                        </p>
                        <p>
                        类别：分体门
                        </p>
                        <p>
                        使用范围：小型机库，体育场所，厂房，其他
                        </p>
                        <p>
                        门框最大尺寸：50000mmᵡ10000mm
                        </p>
                        <p>
                        沿门口和侧墙水平移动，运行轨迹呈90º，最大限度的节省了室内占用空间。由竖向门板通过铰链连接而成，独特的板间PVC密封条有效隔绝外界气候变化对室内的影响。可根据用户地区风压做荷载计算。
                        </p>
                        <p>
                        产品特点：沿门口和侧墙水平移动，运行轨迹呈90º。高度超过7米为下承重设计，可采用齿轮齿条或链条传动。
                        </p>
                        <p>
                        技术参数：
                        </p>
                        <p>
                        门板材质：聚氨酯保温板
                        </p>
                        <p>
                        门板材质：Q235型钢
                        </p>
                        <p>
                        视窗材质：阳光板
                        </p>
                        <p>
                        密封：三元乙丙、毛刷
                        </p>
                        <p>
                        最大门体尺寸：W50000mm,H10000mm
                        </p>
                        <p>
                        最大抗风度：100km/h
                        </p>
                        <p>
                        最大开启速度：0.15-0.25m/s
                        </p>
                        <p>
                        防火等级：B1
                        </p>
                        <p>
                        配重物：无
                        </p>
                        <p>
                        开启最大频率：3万次/年
                        </p>
                        <p>
                        门开启方式：水平内向开启（手动，按钮）
                        </p>
                        <p>
                        驱动方式：电机驱动
                        </p>
                        <p>
                        工作温度范围：-50℃—70℃
                        </p>
                        <p>
                        防护等级：IP55
                        </p>
                        <p>
                        电源：380V/50Hz三相
                        </p>
                    </div>
                    
                    <!--this is the video container-->
                    <!--
                    <div>
                        <div class="x-portlet-zone x-number-of-areas-1 x-portlet-zone-horizontal portlet-content sub-content" id="topcontentportlets">
                            <div id="topcontentportlets_0" class="x-portlet-area first-portlet-area last-portlet-area">
                                <div class="embedded-video-portlet embedded-video-portlet--youtube embedded-video-portlet--no-bottom first-portlet last-portlet x-portlet">
                                    <div id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_applicationRegion_ctrlProductInfo_topcontentportlets_ctl02_topcontentportlets_0_ctl01_ctl01_ctrlVideoContainer" class="embedded-video-portlet__container">
                                        <iframe type="text/html" src="//www.youtube-nocookie.com/embed/VrekbUU4JPo?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="true"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-content__container">
                        </div>
                    </div>
                    -->


                </article>

            </main>

        </div> <!--end of has subnav-->

{% include 'footer.html' %}
