{% include 'header.html' %}        
        
        <div class="site has-subnav">

            <!--googleoff: all-->
            <nav class="secondary-navigation">
                <ul>
                    <li class="first-item"><a class="" href="p1">多段提升门</a></li>
                    <li class=""><a class="" href="p2">侧转门</a></li>
                    <li class=""><a class="" href="p3">飞机库门</a></li>
                    <li class=""><a class="selected" href="p4">环保门</a></li>
                    <li class=""><a class="" href="p5">军用门窗</a></li>
                    <li class=""><a class="" href="p6">平开门</a></li>
                    <li class=""><a class="" href="p7">硬质快速门</a></li>
                    <li class=""><a class="" href="p8">堆积门</a></li>
                    <li class=""><a class="" href="p9">辐射防护</a></li>
                    <li class=""><a class="" href="p10">软质门</a></li>
                    <li class=""><a class="" href="p11">上折门</a></li>
                    <li class=""><a class="" href="p12">提升门</a></li>
                    <li class=""><a class="" href="p13">悬浮门</a></li>
                    <li class="last-item"><a class="" href="p14">折叠门</a></li>
                </ul>
            </nav>
            <!--googleon: all-->

            <main role="main" class="main" id="content">

                <article class="main-article">

<!--
                    <h1>环保门</h1>
-->
                    <!--slideshow-->
                    <div>

                        <div id="product-slideshow" class="product-slideshow multiple-images">
                            <figure class="current-image">
                                <div>
                                    <img src="../static/image/huanbao1.jpg" id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_productImageRegion_ctrlProductImages_ctrlMainImage" alt="Multiple-leaf aviation hangar door" />
                                </div>
                                <figcaption>环保门</figcaption>
                            </figure>

<!--
                            <div class="slides">
                                <figure>
                                    <a href="/presets/product-slideshow/AAES/PRODUCTS_2.1/PRODUCT-IMAGES/Hangar-doors/Aviation-hangar-doors/Multiple-leaf-aviation-hangar-door-systems/Multiple-leaf-aviation-hangar-doors-1.jpg">
                                    <img src="../static/image/lm1.jpg" alt="Multiple-leaf aviation hangar door" /></a>
                                </figure>
                            </div>
-->
                        </div>

                    </div>

                    <div class="portlet-content__container">

                    </div>

                    <div>

                        <div class="portlet-content__container">

                        </div>

                    </div>

                    <div class="product-presentation">
                        <h2>环保门</h2>
                        <p>
                        产品描述：高强度，传动合理
                        </p>
                        <p>
                        开启方式： 水平内向
                        </p>
                        <p>
                        类别：分体门
                        </p>
                        <p>
                        使用范围：环保，其他
                        </p>
                        <p>
                        门框最大尺寸：6000mmᵡ6000mm
                        </p>
                        <p>
                        环保门是为适应国家对环境保护的相应要求特殊开发的门类产品。门体与电气部分分别设计在建筑的二层，隔绝有害气体对电气设备的腐蚀。门体做特殊防腐处理，保证其长期使用。
                        </p>
                        <p>
                        产品特点：门体与电气部分分别设计在建筑的二层，隔绝有害气体的电气设备的腐蚀。门体做特殊处理。门板做强度计算，传动件特殊加工，整体坚固耐用。密封定期更换，以保证其长期使用。
                        <p>
                        技术参数：
                        </p>
                        <p>
                        门板材质：Q235型钢
                        </p>
                        <p>
                        视窗材质：无
                        </p>
                        <p>
                        密封：三元乙丙、毛刷
                        </p>
                        <p>
                        最大门体尺寸：W6000mm,H6000mm
                        </p>
                        <p>
                        最大抗风度：100km/h
                        </p>
                        <p>
                        最大开启速度：1m/s
                        </p>
                        <p>
                        防火等级：B1
                        </p>
                        <p>
                        配重物：无
                        </p>
                        <p>
                        开启最大频率：8万次/年
                        </p>
                        <p>
                        门开启方式：水平内向开启（手动，按钮，遥控）
                        </p>
                        <p>
                        驱动方式：电机驱动
                        </p>
                        <p>
                        工作温度范围：-50℃—70℃
                        </p>
                        <p>
                        防护等级：IP55
                        </p>
                        <p>
                        电源：380V/50Hz三相
                        </p>
                    </div>
                    
                    <!--this is the video container-->
                    <!--
                    <div>
                        <div class="x-portlet-zone x-number-of-areas-1 x-portlet-zone-horizontal portlet-content sub-content" id="topcontentportlets">
                            <div id="topcontentportlets_0" class="x-portlet-area first-portlet-area last-portlet-area">
                                <div class="embedded-video-portlet embedded-video-portlet--youtube embedded-video-portlet--no-bottom first-portlet last-portlet x-portlet">
                                    <div id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_applicationRegion_ctrlProductInfo_topcontentportlets_ctl02_topcontentportlets_0_ctl01_ctl01_ctrlVideoContainer" class="embedded-video-portlet__container">
                                        <iframe type="text/html" src="//www.youtube-nocookie.com/embed/VrekbUU4JPo?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="true"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-content__container">
                        </div>
                    </div>
                    -->


                </article>

            </main>

        </div> <!--end of has subnav-->



<!--
        <link rel="stylesheet" href="../static/assacss.css" />
-->
        <script src="../static/js/assajs1.js" type="text/javascript"></script>
		<script src="../static/js/assajs2.js" type="text/javascript"></script>
		<script src="../static/js/assajs3.js" data-main="https://www.assaabloyentrance.us/web/core/ui/636826416564363264/scripts/" type="text/javascript"></script>

{% include 'footer.html' %}
