{% include 'header.html' %}        
        
        <div class="site has-subnav">

            {% include 'secondNav.html' %}        
            <!--googleon: all-->

            <main role="main" class="main" id="content">

                <article class="main-article">
                    <!--slideshow-->
                    <div id="product-slideshow" class="product-slideshow multiple-images has-arrows">
                    	<div class="slideshow">
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong1.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong2.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong3.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong4.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong5.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong6.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong7.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong8.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong9.jpg">
                                </div>
                                <div>
                                    <img src="../static/image/productImage/junyong/big/junyong10.jpg">
                                </div>
                         </div> 

                        <div class="figcapdiv">
                        <figcaption>军用门窗</figcaption>
                        </div>
                        
                        <div class="slides fixslider">
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong1.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong2.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong3.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong4.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong5.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong6.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong7.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong8.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong9.jpg">
                        			</figure>
                        			<figure class="slick-slide">
                                        <img src="../static/image/productImage/junyong/small/junyong10.jpg">
                        			</figure>
                         </div>

                        <script type="text/javascript">
                            jQuery(document).ready(function() {
                                jQuery('.slideshow').slick({
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                    arrows: false,
                                    fade: true,
                                    asNavFor: '.slides'
                                });
                                jQuery('.slides').slick({
                                    slidesToShow: 4,
                                    slidesToScroll: 1,
                                    asNavFor: '.slideshow',
                                    dots: false,
                                    arrows: true,
                                    focusOnSelect: true,
                                    autoplay: true,
                                    autoplaySpeed: 6000,
                                    speed: 500,
                                    nextArrow: '<div class="slick-next"><i class="genericon genericon-rotate-90 genericon-collapse"></i></div>',
                                    prevArrow: '<div class="slick-prev"><i class="genericon genericon-rotate-90 genericon-expand"></i></div>',
                                    responsive: [
                                      {
                                        breakpoint: 1024,
                                        settings: {
                                          slidesToShow: 3,
                                          slidesToScroll: 3,
                                          infinite: true,
                                        }
                                      },
                                      {
                                        breakpoint: 600,
                                        settings: {
                                          slidesToShow: 2,
                                          slidesToScroll: 2,
                                          arrows: false
                                        }
                                      }
                                      // You can unslick at a given breakpoint now by adding:
                                      // settings: "unslick"
                                      // instead of a settings object
                                    ]
                                });
                            });
                        </script>
                    </div> <!--product-slideshow-->

                    
                    
                    
                    <div>
                        <div class="portlet-content__container">

                        </div>
                    </div>

                    <div class="product-presentation">
                        <h2>军用门窗</h2>
                        <p>
                        产品描述：高强度，传动合理
                        </p>
                        <p>
                        开启方式： 平开
                        </p>
                        <p>
                        类别：整体门
                        </p>
                        <p>
                        使用范围：军用库房，涉密厂房
                        </p>
                        <p>
                        门框最大尺寸：6000mmᵡ6000mm
                        </p>
                        <p>
                        密闭门窗由三部分组成。外部密闭门和通风门、密闭窗和通风窗、门窗格栅。需要满足防盗、密闭和通风的要求。密闭性能防止湿热的空气、风沙灰尘进入库内，通风性达到干燥季节通风效果，同时防止鼠鸟侵入。整体门窗符合国军标GJB2805A-2002。
                        </p>
                        <p>
                        产品特点：多处楔型联锁机构锁紧，钢板止口采用船用天然橡胶密封条设计，保证密闭性能。依据国军标设计，表面钢板及门框钢板厚度均在6—8mm,达到抗暴力破坏的性能。门扇表面采用矩形压型工艺，增加强度及美学观感。大门表面采用喷砂喷铝工艺结合防护面漆，表面抗侵蚀能力大大增加。1道机械密码锁和2道机械暗锁，高于国军标二级防盗要求。配置专业锁箱，保证锁具不受雨雪侵蚀，同时增强安全性能。格栅及通风门窗设计均符合国军标要求，长期耐用效果俱佳。
                        </p>
                        <p>
                        技术参数：
                        </p>
                        <p>
                        门板材质：Q235钢板
                        </p>
                        <p>
                        窗板材质：Q235钢板
                        </p>
                        <p>
                        密封：三元乙丙船用橡胶
                        </p>
                        <p>
                        最大门体尺寸：W6000mm,H6000mm
                        </p>
                        <p>
                        最大抗风度：160km/h
                        </p>
                        <p>
                        最大开启速度：手动
                        </p>
                        <p>
                        防火等级：A1
                        </p>
                        <p>
                        配重物：无
                        </p>
                        <p>
                        开启最大频率：5万次/年
                        </p>
                        <p>
                        门开启方式：平开开启（手动）
                        </p>
                        <p>
                        驱动方式：无
                        </p>
                        <p>
                        工作温度范围：-50℃—70℃
                        </p>
                        <p>
                        防护等级：IP45
                        </p>
                        <p>
                        电源：无
                        </p>
                    </div>
                    
                    <!--this is the video container-->
                    <!--
                    <div>
                        <div class="x-portlet-zone x-number-of-areas-1 x-portlet-zone-horizontal portlet-content sub-content" id="topcontentportlets">
                            <div id="topcontentportlets_0" class="x-portlet-area first-portlet-area last-portlet-area">
                                <div class="embedded-video-portlet embedded-video-portlet--youtube embedded-video-portlet--no-bottom first-portlet last-portlet x-portlet">
                                    <div id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_applicationRegion_ctrlProductInfo_topcontentportlets_ctl02_topcontentportlets_0_ctl01_ctl01_ctrlVideoContainer" class="embedded-video-portlet__container">
                                        <iframe type="text/html" src="//www.youtube-nocookie.com/embed/VrekbUU4JPo?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="true"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-content__container">
                        </div>
                    </div>
                    -->


                </article>

            </main>

        </div> <!--end of has subnav-->

{% include 'footer.html' %}
