{% include 'header.html' %}        
        
        <div class="site has-subnav">

            <!--googleoff: all-->
            <nav class="secondary-navigation">
                <ul>
                    <li class="first-item"><a class="" href="p1">多段提升门</a></li>
                    <li class=""><a class="" href="p2">侧转门</a></li>
                    <li class=""><a class="" href="p3">飞机库门</a></li>
                    <li class=""><a class="" href="p4">环保门</a></li>
                    <li class=""><a class="" href="p5">军用门窗</a></li>
                    <li class=""><a class="" href="p6">平开门</a></li>
                    <li class=""><a class="selected" href="p7">硬质快速门</a></li>
                    <li class=""><a class="" href="p8">堆积门</a></li>
                    <li class=""><a class="" href="p9">辐射防护</a></li>
                    <li class=""><a class="" href="p10">软质门</a></li>
                    <li class=""><a class="" href="p11">上折门</a></li>
                    <li class=""><a class="" href="p12">提升门</a></li>
                    <li class=""><a class="" href="p13">悬浮门</a></li>
                    <li class="last-item"><a class="" href="p14">折叠门</a></li>
                </ul>
            </nav>
            <!--googleon: all-->

            <main role="main" class="main" id="content">

                <article class="main-article">

<!--
                    <h1>硬质快速门</h1>
-->
                    <!--slideshow-->
                    <div>

                        <div id="product-slideshow" class="product-slideshow multiple-images">
                            <figure class="current-image">
                                <div>
                                    <img src="../static/image/yingzhi1.jpg" id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_productImageRegion_ctrlProductImages_ctrlMainImage" alt="Multiple-leaf aviation hangar door" />
                                </div>
                                <figcaption>硬质快速门</figcaption>
                            </figure>

<!--
                            <div class="slides">
                                <figure>
                                    <a href="/presets/product-slideshow/AAES/PRODUCTS_2.1/PRODUCT-IMAGES/Hangar-doors/Aviation-hangar-doors/Multiple-leaf-aviation-hangar-door-systems/Multiple-leaf-aviation-hangar-doors-1.jpg">
                                    <img src="../static/image/lm1.jpg" alt="Multiple-leaf aviation hangar door" /></a>
                                </figure>
                            </div>
-->
                        </div>

                    </div>

                    <div class="portlet-content__container">

                    </div>

                    <div>

                        <div class="portlet-content__container">

                        </div>

                    </div>

                    <div class="product-presentation">
                        <h2>硬质快速门</h2>
                        <p>
                        <p>
                        产品描述：高速
                        </p>
                        <p>
                        开启方式： 卷闸
                        </p>
                        <p>
                        类别：整套门
                        </p>
                        <p>
                        使用范围：厂房，物流，商业，其他
                        </p>
                        <p>
                        门框最大尺寸：8000mmᵡ6000mm
                        </p>
                        <p>
                        最新一代的高速螺旋卷门重新定义了卷门的审核概念。最新研发的两种用户容易掌握的设计方案：豪华型230，基本型185，可以很好的满足客户的不同需求。
                        </p>
                        <p>
                        产品特点：门帘是由相互独立的隔热，绝缘板条组成。板条厚度40mm。独立的螺旋收积结构，能使门体最快开启速度可达2.5m/s。承受非常频繁的开启要求，门体运行高达10万次/年。光栅作为独特的安全系统与气动感应边，保证了安全性高速驱动装置上装有微处理器和变频器，可以使门软启动后快速启动，最后缓慢停止。门关闭时平缓，无噪。在断电的情况下，也可以手动操作弹簧机构把门打开。
                        </p>
                        <p>
                        技术参数：
                        </p>
                        <p>
                        门板条宽度：230（豪华型），185（基本型）
                        </p>
                        <p>
                        门板条材质：6063铝合金
                        </p>
                        <p>
                        视窗材质：亚克力
                        </p>
                        <p>
                        密封：三元乙丙
                        </p>
                        <p>
                        最大门体尺寸：W8000mm,H6000mm
                        </p>
                        <p>
                        最大抗风度：120km/h
                        </p>
                        <p>
                        最大开启速度：2.0m/s
                        </p>
                        <p>
                        防火等级：B1
                        </p>
                        <p>
                        配重物：弹簧
                        </p>
                        <p>
                        开启最大频率：10万次/年
                        </p>
                        <p>
                        门开启方式：垂直开启（地磁，雷达，光电，按钮）
                        </p>
                        <p>
                        驱动方式：变频电机高速驱动
                        </p>
                        <p>
                        工作温度范围：-35℃—70℃
                        </p>
                        <p>
                        防护等级：IP55
                        </p>
                        <p>
                        电源：220V/50Hz单相；380V/50Hz三相
                        </p>
                    </div>
                    
                    <!--this is the video container-->
                    <!--
                    <div>
                        <div class="x-portlet-zone x-number-of-areas-1 x-portlet-zone-horizontal portlet-content sub-content" id="topcontentportlets">
                            <div id="topcontentportlets_0" class="x-portlet-area first-portlet-area last-portlet-area">
                                <div class="embedded-video-portlet embedded-video-portlet--youtube embedded-video-portlet--no-bottom first-portlet last-portlet x-portlet">
                                    <div id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_applicationRegion_ctrlProductInfo_topcontentportlets_ctl02_topcontentportlets_0_ctl01_ctl01_ctrlVideoContainer" class="embedded-video-portlet__container">
                                        <iframe type="text/html" src="//www.youtube-nocookie.com/embed/VrekbUU4JPo?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="true"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-content__container">
                        </div>
                    </div>
                    -->


                </article>

            </main>

        </div> <!--end of has subnav-->



<!--
        <link rel="stylesheet" href="../static/assacss.css" />
-->
        <script src="../static/js/assajs1.js" type="text/javascript"></script>
		<script src="../static/js/assajs2.js" type="text/javascript"></script>
		<script src="../static/js/assajs3.js" data-main="https://www.assaabloyentrance.us/web/core/ui/636826416564363264/scripts/" type="text/javascript"></script>

{% include 'footer.html' %}
