{% include 'header.html' %}        
        
        <div class="site has-subnav">

            <!--googleoff: all-->
            <nav class="secondary-navigation">
                <ul>
                    <li class="first-item"><a class="" href="p1">多段提升门</a></li>
                    <li class=""><a class="" href="p2">侧转门</a></li>
                    <li class=""><a class="" href="p3">飞机库门</a></li>
                    <li class=""><a class="" href="p4">环保门</a></li>
                    <li class=""><a class="" href="p5">军用门窗</a></li>
                    <li class=""><a class="" href="p6">平开门</a></li>
                    <li class=""><a class="" href="p7">硬质快速门</a></li>
                    <li class=""><a class="" href="p8">堆积门</a></li>
                    <li class=""><a class="selected" href="p9">辐射防护</a></li>
                    <li class=""><a class="" href="p10">软质门</a></li>
                    <li class=""><a class="" href="p11">上折门</a></li>
                    <li class=""><a class="" href="p12">提升门</a></li>
                    <li class=""><a class="" href="p13">悬浮门</a></li>
                    <li class="last-item"><a class="" href="p14">折叠门</a></li>
                </ul>
            </nav>
            <!--googleon: all-->

            <main role="main" class="main" id="content">

                <article class="main-article">

<!--
                    <h1>辐射防护</h1>
-->
                    <!--slideshow-->
                    <div>

                        <div id="product-slideshow" class="product-slideshow multiple-images">
                            <figure class="current-image">
                                <div>
                                    <img src="../static/image/fushe1.jpg" id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_productImageRegion_ctrlProductImages_ctrlMainImage" alt="Multiple-leaf aviation hangar door" />
                                </div>
                                <figcaption>辐射防护</figcaption>
                            </figure>

<!--
                            <div class="slides">
                                <figure>
                                    <a href="/presets/product-slideshow/AAES/PRODUCTS_2.1/PRODUCT-IMAGES/Hangar-doors/Aviation-hangar-doors/Multiple-leaf-aviation-hangar-door-systems/Multiple-leaf-aviation-hangar-doors-1.jpg">
                                    <img src="../static/image/lm1.jpg" alt="Multiple-leaf aviation hangar door" /></a>
                                </figure>
                            </div>
-->
                        </div>

                    </div>

                    <div class="portlet-content__container">

                    </div>

                    <div>

                        <div class="portlet-content__container">

                        </div>

                    </div>

                    <div class="product-presentation">
                        <h2>辐射防护</h2>
                        <p>
                        产品描述： 防护性
                        </p>
                        <p>
                        开启方式： 水平，平开
                        </p>
                        <p>
                        类别：整体门
                        </p>
                        <p>
                        使用范围：探伤室，实验场等
                        </p>
                        <p>
                        门框最大尺寸：6000mmᵡ6000mm
                        </p>
                        <p>
                        防射线大门为一种特殊场所专门设计大门。大门主要体现在功能上可防止有害射线对人体的伤害。
                        </p>
                        <p>
                        产品特点：大门稳定性强。可根据自身重量结合ANSYS软件计算大门框架结构。可根据用户要求在隔音及防护方面做特殊处理。
                        </p>
                        <p>
                        技术参数：
                        </p>
                        <p>
                        门板材质：Q235型钢、穿孔钢板
                        </p>
                        <p>
                        门框材质：Q235型钢
                        </p>
                        <p>
                        内部填充：玻璃丝绵（隔音+吸音），铅板（防射线）
                        </p>
                        <p>
                        视窗材质：无
                        </p>
                        <p>
                        密封：三元乙丙、回型钢制板
                        </p>
                        <p>
                        最大门体尺寸：W6000mm,H6000mm
                        </p>
                        <p>
                        最大抗风度：150km/h
                        </p>
                        <p>
                        最大开启速度：0.15m/s
                        </p>
                        <p>
                        防火等级：A1
                        </p>
                        <p>
                        配重物：无
                        </p>
                        <p>
                        开启最大频率：3万次/年
                        </p>
                        <p>
                        门开启方式：水平，平开开启（按钮）
                        </p>
                        <p>
                        驱动方式：电机驱动
                        </p>
                        <p>
                        工作温度范围：-50℃—70℃
                        </p>
                        <p>
                        防护等级：IP55
                        </p>
                        <p>
                        电源：380V/50Hz三相
                        </p>
                    </div>
                    
                    <!--this is the video container-->
                    <!--
                    <div>
                        <div class="x-portlet-zone x-number-of-areas-1 x-portlet-zone-horizontal portlet-content sub-content" id="topcontentportlets">
                            <div id="topcontentportlets_0" class="x-portlet-area first-portlet-area last-portlet-area">
                                <div class="embedded-video-portlet embedded-video-portlet--youtube embedded-video-portlet--no-bottom first-portlet last-portlet x-portlet">
                                    <div id="ctl00_ctl00_bodyRegion_pageRegion_ContentRegion_MainContentRegion_applicationRegion_ctrlProductInfo_topcontentportlets_ctl02_topcontentportlets_0_ctl01_ctl01_ctrlVideoContainer" class="embedded-video-portlet__container">
                                        <iframe type="text/html" src="//www.youtube-nocookie.com/embed/VrekbUU4JPo?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="true"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-content__container">
                        </div>
                    </div>
                    -->


                </article>

            </main>

        </div> <!--end of has subnav-->



<!--
        <link rel="stylesheet" href="../static/assacss.css" />
-->
        <script src="../static/js/assajs1.js" type="text/javascript"></script>
		<script src="../static/js/assajs2.js" type="text/javascript"></script>
		<script src="../static/js/assajs3.js" data-main="https://www.assaabloyentrance.us/web/core/ui/636826416564363264/scripts/" type="text/javascript"></script>

{% include 'footer.html' %}
