            <!--googleoff: all-->
            <nav class="secondary-navigation">
                <ul>
                    <li class="first-item"><a class="" href="p1">多段提升门</a></li>
                    <li class=""><a class="" href="p2">侧转门</a></li>
                    <li class=""><a class="" href="p3">飞机库门</a></li>
                    <li class=""><a class="" href="p4">环保门</a></li>
                    <li class=""><a class="" href="p5">军用门窗</a></li>
                    <li class=""><a class="" href="p6">平开门</a></li>
                    <li class=""><a class="" href="p7">硬质快速门</a></li>
                    <li class=""><a class="" href="p8">堆积门</a></li>
                    <li class=""><a class="" href="p9">辐射防护</a></li>
                    <li class=""><a class="" href="p10">软质门</a></li>
                    <li class=""><a class="" href="p11">上折门</a></li>
                    <li class=""><a class="" href="p12">提升门</a></li>
                    <li class=""><a class="" href="p13">悬浮门</a></li>
                    <li class=""><a class="" href="p14">折叠门</a></li>
                    <li class="last-item"><a class="" href="p15">推拉门</a></li>
                </ul>
            </nav>

