<section class="module  module--slideshow">
    
    <div class="slideshow">
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/duoduantishengS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">多段提升门</h1>
                    <p class="slide__description">一种可以多段提升的门</p>
                    <a class="magicdust-button" href="p1">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/cezhuanS.jpg">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">侧转门</h1>
                    <p class="slide__description">一种可以侧转的门</p>
                    <a class="magicdust-button" href="p2">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/feijikudamenS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">飞机库门</h1>
                    <p class="slide__description">飞机库用的门</p>
                    <a class="magicdust-button" href="p3">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/lajixieliaoS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">环保门</h1>
                    <p class="slide__description">环保卫生的门</p>
                    <a class="magicdust-button" href="p4">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/junyongmenchuangS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">军用门窗</h1>
                    <p class="slide__description">军队用的门窗</p>
                    <a class="magicdust-button" href="p5">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/daxingpingkaiS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">平开门</h1>
                    <p class="slide__description">平开的门</p>
                    <a class="magicdust-button" href="p6">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/yingzhikuaisuS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">硬质快速门</h1>
                    <p class="slide__description">硬质快速的门</p>
                    <a class="magicdust-button" href="p7">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/daxingduijiS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">堆积门</h1>
                    <p class="slide__description">一种堆积的门</p>
                    <a class="magicdust-button" href="p8">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/fushefanghuS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">辐射防护</h1>
                    <p class="slide__description">辐射防护用的门</p>
                    <a class="magicdust-button" href="p9">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/ruanzhikuaisuS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">软质门</h1>
                    <p class="slide__description">软质的门</p>
                    <a class="magicdust-button" href="p10">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/shangzhedamenS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">上折门</h1>
                    <p class="slide__description">上折的门</p>
                    <a class="magicdust-button" href="p11">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/gongyetishengS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">工业提升门</h1>
                    <p class="slide__description">提升的门</p>
                    <a class="magicdust-button" href="p12">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/tingyuanxuanfuS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">庭院悬浮门</h1>
                    <p class="slide__description">悬浮的门</p>
                    <a class="magicdust-button" href="p13">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/zhediemenS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">折叠门</h1>
                    <p class="slide__description">折叠的门</p>
                    <a class="magicdust-button" href="p14">浏览产品</a>
                </div>
            </div>
        </div>
        <!-- Repeater field. -->
        <div class="slide slide--image" style="background-image: url(../static/image/frontBig/daxingtuilaS.jpg)">
            <div class="container container--full">
                <div class="slide__container">
                    <h1 class="slide__title">推拉门</h1>
                    <p class="slide__description">推拉开启的门</p>
                    <a class="magicdust-button" href="p15">浏览产品</a>
                </div>
            </div>
        </div>
    </div>
   
    <div class="container" id="scontainer">

        <div class="slideshow__nav">
            
            <!-- <table>-->
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test1">
                <!--
                <img src="https://webcdn.chamberlainanz.com/grifcoau/wp-content/uploads/2018/05/21135137/Banner_LSdrive-180x85.jpg">
                -->
                <!--
                style="background-image: url(../static/image/frontSmall/duoduantishengS.jpg)"
                -->
                <div class="magicdust-button magiccontainer">
                多段提升门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test2">
                <div class="magicdust-button magiccontainer">
                侧转门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test3">
                <div class="magicdust-button magiccontainer">
                飞机库门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test4">
                <div class="magicdust-button magiccontainer">
                环保门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test5">
                <div class="magicdust-button magiccontainer">
                军用门窗
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test6">
                <div class="magicdust-button magiccontainer">
                平开门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test7">
                <div class="magicdust-button magiccontainer">
                硬质快速门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test8">
                <div class="magicdust-button magiccontainer">
                堆积门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test9">
                <div class="magicdust-button magiccontainer">
                辐射防护
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test10">
                <div class="magicdust-button magiccontainer">
                软质门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test11">
                <div class="magicdust-button magiccontainer">
                上折门
                </div>
            </div> 
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test12">
                <div class="magicdust-button magiccontainer">
                提升门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test13">
                <div class="magicdust-button magiccontainer">
                悬浮门
                </div>
            </div>
            
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test14">
                <div class="magicdust-button magiccontainer">
                折叠门
                </div>
            </div>
            <!-- Repeater field. -->
            <div class="slide--thumbnail slide" id="test15">
                <div class="magicdust-button magiccontainer">
                推拉门
                </div>
            </div>
            <!-- </table> -->

        </div><!--slideshow-nav-->
    </div><!--container-->
        

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.slideshow').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slideshow__nav'
            });
            jQuery('.slideshow__nav').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                asNavFor: '.slideshow',
                dots: false,
                arrows: true,
                focusOnSelect: true,
                autoplay: true,
                autoplaySpeed: 5000,
                speed: 500,
                nextArrow: '<div class="slick-next"><i class="genericon genericon-rotate-90 genericon-collapse"></i></div>',
                prevArrow: '<div class="slick-prev"><i class="genericon genericon-rotate-90 genericon-expand"></i></div>',
                responsive: [
                  {
                    breakpoint: 1024,
                    settings: {
                      slidesToShow: 3,
                      slidesToScroll: 3,
                      infinite: true,
                    }
                  },
                  {
                    breakpoint: 600,
                    settings: {
                      slidesToShow: 2,
                      slidesToScroll: 2,
                      arrows: false
                    }
                  }
                  // You can unslick at a given breakpoint now by adding:
                  // settings: "unslick"
                  // instead of a settings object
                ]
            });
        });
    </script>
</section>


